.header {
    background-color: #FDA65D;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.header p {
    margin: 0;
}

.logout {
    padding: 10px;
    background-color: rgb(175, 98, 10);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.logout:hover {
    color: rgb(231, 230, 162);
}

.buttons {
    background-color: #f5f3d4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicks {
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

.clicks button {
    padding: 20px;
    border-radius: 2rem;
    font-size: 1.1rem;
    color: white;
    background-color: #da563e;
    border: none;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
    margin: 5px;
    width: 270px
}

.clicks button:hover {
    background-color: #e06e22;
}

img {
    display: flexbox;
    justify-content: space-around;
    max-width: 306px;
    max-height: 306px;
    object-fit: contain;
    border-radius: 1rem;
    ;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sports {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    color: #d65c15;
    margin-bottom: 60px;
}

.foot {
    margin-top: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FDA65D;
    font-size: 1.2rem;
    color: white;
}